<div id="home" class="col-md-auto">
  <div class="col-md-4 input-col"></div>
  <div class="form-group col-md-4 input-col">
    <label>Email: </label>
    <input type="email" name="email">
    <label>Password: </label>
    <input type="password" name="password">
    <button type="button" name="opret" onclick="Login.addUser()">Opret/Login</button>
  </div>
  <div class="col-md-4 input-col"></div>
</div>
