*{
  margin: 0;
  padding: 0;
}

#home{
  display: flex;
  flex-direction: row;
}

.input-col{
  margin-top: 15px;
  width: 33%;
  height: 50px;
}

.form-group{
  display: grid;
  grid-column: auto;
  margin-top: 15px;
  border: 1px solid black;
  height: 200px;
  padding-bottom: 15px;
  width: 100%;
}

.logout-button{
  display: grid;
  grid-column: auto;
  margin-top: 15px;
  border: 1px solid black;
  height: 200px;
  width: 100%;
}

#table-home{
  display: flex;
  flex-direction: row;
}

.table-col{
  margin-top: 15px;
  width: 33%;
  height: 50px;
}

.login{
  display: grid;
  grid-column: auto;
  margin-top: 15px;
  height: 200px;
  padding-bottom: 15px;
  width: 100%;
}

#log tr:nth-child(even){
  background-color: #f2f2f2;
}
